<!DOCTYPE html>
<html lang="es">

<head>

<meta charset="UTF-8">

<title>Panel de Administración</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='css/panel.css') }}">

</head>

<body>

<div class="panel">

    <h1>   Bienvenida {{ usuario }} </h1>

    <p class="subtitulo">Bienvenida, <strong>{{ usuario }}</strong> ¿Qué deseas hacer hoy?</p>


    <div class="menu">

        <a href="/proveedores">

             Mis proveedores

        </a>

        <a href="/agregar">

             Agregar proveedor

        </a>

        <a href="/logout">

             Cerrar sesión

        </a>

    </div>

</div>

</body>

</html>